---
// WP Tools
import type { Block } from "@wp-block-tools/styles";
// End WP Tools

// Component Imports
import BlockRender from "../components/BlockRender.astro";
import CommonHead from "../components/CommonHead.astro";
// End Component Imports

// Fetch Homepage Content from WP Graphql API
const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    query: `query PageQuery {
            nodeByUri(uri: "/") {
          ... on Page {
            id
            blocks
            seo{
              metaDesc
              title
            }
          }
        }
      }`,
  }),
});
const { data } = await response.json();
// End Fetch Homepage Content from WP Graphql API

// Deconstruct data to block and seo properties
const blocks = (data.nodeByUri?.blocks || []) as Block[];
const seo = data.nodeByUri?.seo;
// End Deconstruct
---

<html lang="en">
  <CommonHead title={seo.title || ""} description={seo.metaDesc || ""} />
  <body>
    <main>
      <BlockRender blocks={blocks} />
    </main>
  </body>
</html>
