---
// Global Styles
import '../styles/global.css';
// End Global Styles

// Component Imports
import Button from '../components/Button.astro';
// End Component Imports

// Varible Definitions
const title = 'Astro + TailwindCSS';
// End Varible Definitions
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center">
			<h1 class="text-2xl bg-red-500 font-bold">{title}</h1>
			<Button>Tailwind Button in Astro!</Button>
			<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
		</div>
	</body>
</html>
